@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jomolhari&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    height: 100vh;
}
::-webkit-scrollbar{
    display: none;
}
.dashboard-wrapper{
    display: flex;
}
aside{
    max-width: 270px;
    width: 100%;
    height: 100vh;
    border-radius: 31px;
    background: #F5C147;
    padding: 20px;
    position: relative;
}
main{
    min-height: 100vh;
    flex: 1;
    /* background-color: rebeccapurple; */
}
aside h1{
    text-align: center;
    color: #000;
    font-family: Jomolhari;
    font-size: 30px;
    font-weight: 400;
}
.sidebar__profile{
    border-radius: 22px;
    background: #FFF;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 30px 0;
}
.sidebar__profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}
.profile-info{
    display: flex;
    flex-direction: column;
}
.profile__info strong{
    color: #000;
font-family: Jomolhari;
font-size: 16px;
font-weight: 400;
}
.profile__info small{
    color: #787878;
font-family: Jomolhari;
font-size: 12px;
font-weight: 400;
}
.sidebar__menu{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 40px;
}
.sidebar__menu .menu__item{
    overflow: hidden;
    border-radius: 20px;
    background: #000;
}
.sidebar__menu .menu__item a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    color: #FFF;
    font-family: Jomolhari;
    font-weight: 400;
}
.sidebar__menu .menu__item:hover{
    background-color: #fff;
}
.sidebar__menu .menu__item:hover a{
    color: #000;
}
.sidebar__signout{
    background: #F5C147;
    color: #fff;
    border: none;
    width: 100%;
    display: block;
    padding: 20px 0;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000;
    font-family: Jomolhari;
    font-weight: 400;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
}
.sidebar__signout:hover{
    color: #fff;
    cursor: pointer;
}
.create-content, .manage-posts{
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 40px;
    color: #FFF;
font-family: Jomolhari;
font-size: 25px;
font-weight: 400;
}
main h2{
    border-bottom: 2px solid grey;
}
.menu__item a[aria-current="page"]{
    background-color: #fff;
    color: #000;
}
.create-content form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px 0;
    margin-top: 37px;
}
.create-content form label{
    display: flex;
    flex-direction: column;
    color: #FFF;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
}
.create-content form label input{
    width: 100%;
    height: 44px;
    border-radius: 15px;
    background: #FFF;
    outline: none;
    text-indent: 10px;
    color: #000;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
}
.create-content form label > div{
    display: flex;
    gap: 0 28px;
}
.create-content form label > div select{
    border-radius: 15px;
    background: #FFF;
    color: #000;
font-family: Jomolhari;
font-size: 18px;
font-weight: 400;
padding: 4px 10px;
}
textarea{
    width: 100%;
    height: 172px;
    resize: none;
    border-radius: 15px;
    background: #FFF;
    outline: none;
    text-indent: 10px;
    color: #000;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
}
.create-content form button{
    display: block;
    margin: 0 auto;
padding: 10px 70px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #F5C147;
color: #000;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
}
.manage-posts-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 93px;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100vh - 150px);
    padding: 10px;
}
.manage-post-card-item{
    min-width: 276px;
    /* background-color: #fff; */
    min-height: 336px;
    max-height: 336px;
    display: flex;
    flex-direction: column;
    gap: 7px 0;
    justify-content: space-between;
    /* padding: 7px; */
    /* box-shadow: 0px 0px 10px #c5c5c5; */
    border: 3px solid #F0DE36;
    background: #1E1E1E;
}
.manage-post-card-item h3{
    color: #FFF;
font-family: Jomolhari;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 7px;
}
.manage-post-card-item p{
    word-wrap: break-word;
    color: #FFF;
font-family: Jomolhari;
font-size: 12px;
font-weight: 400;
width: 320px;
padding: 0 7px;
}
.manage-post-card-item img{
    width: 100%;
    height: 172px;
    object-fit: cover;
}
.card__button-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
    margin-top: 10px;
padding: 0 7px;
padding-bottom: 7px;
}
.card__button-wrapper button{
    padding: 10px 0;
    width: 50%;
    border: none;
}
.card__button-wrapper button:first-child{
    background-color: #F5C147;
    color: #000;
    font-family: Jomolhari;
    font-size: 12px;
    font-weight: 400;
}
.card__button-wrapper button:last-child{
    background-color: #CA3838;
    color: #fff;
    font-family: Jomolhari;
    font-size: 12px;
    font-weight: 400;
}
.modal-delete-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #000000c8;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: .3s;
}
.modal-delete{
    background-color: #F5C147;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
    visibility: hidden;
    width: 100%;
    /* width: 0;
    height: 0; */
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s;
    color: #000;
    font-family: Jomolhari;
    font-size: 30px;
    font-weight: 400;
}
.modal-delete-wrapper-active{
    opacity: 1;
    visibility: visible;
}

.modal-delete-active{
    opacity: 1;
    visibility: visible;
    max-width: 700px;
    height: 300px;
}
.modal-delete button:first-child{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 4px solid #000;
    border-radius: 50%;
    color: #000;
    width: 53px;
    height: 53px;
    font-size: 30px;
    cursor: pointer;
}
.model-delete-btn{
    color: #fff;
    opacity: 0;
    border: none;
    margin-top: 20px;
    display: flex;
    width: 248px;
    height: 64px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #F5C147;
    font-family: Jomolhari;
    font-size: 20px;
    font-weight: 400;
}
.edit-form-wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000c8;
    /* transition: .3s; */
    visibility: hidden;
}
#edit-form{
    background-color: #F5C147;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 35px 60px;
    max-width: 672px;
    width: 100%;
    height: 100%;
    gap: 33px 0;
    /* transition: .3s; */
    /* opacity: 0; */
    /* visibility: hidden; */
}
#edit-form label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
}
#edit-form input, select{
    width: 100%;
    height: 47px;
    color: #000;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
border-radius: 15px;
background: #FFF;
border: none;
outline: none;
text-indent: 10px;
}
#edit-form button:last-child{
    display: inline-flex;
padding: 16px 73px 16px 72px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #000;
color: #F5C147;
font-family: Jomolhari;
font-size: 20px;
font-weight: 400;
display: block;
margin: 0 auto;
}
#modal-edit-close{
    /* position: absolute; */
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 4px solid #000;
    border-radius: 50%;
    color: #000;
    width: 53px;
    height: 53px;
    font-size: 30px;
    cursor: pointer;
}
.edit-form-wrapper-active{
    /* opacity: 1; */
    visibility: visible;
}
.edit-form-active{
    opacity: 1;
    max-width: 672px;
    height: 100%;
    visibility: visible;
}